body {
  font-family: 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  margin-top: 25vh;
  width: 330px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  text-align: center;
}

label {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  outline: none;
}

input:focus, textarea:focus {
  background: none;
  border: 1px solid #4CAF50;
}

button {
  background-color: #4CAF50;
  margin-top: 20px;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #3e8e41;
}

img {
  border-radius: 10px;
}

.menu {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

a {
  text-decoration: none;
  padding: 0px 5px;
  color: rgb(24, 21, 16);
  font-weight: 400;
  transition: all 0.3s;
}

a:hover {
  color: rgb(25, 132, 233);
}

header, footer {
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background-color: #858585;
  color: white;
}

header, footer p {
  font-size: 23px;
  font-weight: 500;
}

h1 {
  color: #282828;
}

textarea {
  outline: none;
}

table img {
  width: 100px;
}