<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/footer.css">
    <title>Add-product</title>
</head>
<body>
    <%- include("../partials/header.ejs")%>
    <div style="margin-top: 10vh;" class="container">
        <form method="POST">
            <h1>Add product</h1>
            <label for="title">Title:</label>
            <input type="text" placeholder="Enter title" name="title" required>
            <label for="price">Price:</label>
            <input type="text" placeholder="Enter price" id="Price" name="Price" required>
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="5" placeholder="Enter description"></textarea>
            <label for="fileImage">Choice image:</label>
            <input style="border: none;" type="file" accept="image/*">
            <label for="rating">Rating:</label>
            <input type="text" placeholder="Enter rating" name="rating" required>
            <button type="submit" id="btn-register">Add</button>
            <%- include("../partials/menu.ejs")%>
        </form>
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>