<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <title>Home</title>
</head>
<body>
    <%- include("../partials/header.ejs")%>
    <div class="container">
        <form>
            <h1>Home</h1>
            <img src="/static/images/avatar.jpg" alt="" srcset="">
            <%- include("../partials/menu.ejs")%>
        </form>
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>